.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    max-width: 1170px;    
    margin: 0 auto;
    flex-wrap: wrap; 
    /* aqui no WRAP faz meu menu 
    quebra para baixo no responsivo */
    scroll-behavior: smooth;
}

@media(max-width: 624px) {
     .cabecalho {
        justify-content: center;
    }

    .cabecalho .logo {
        margin-bottom: 30px;
    }
    .navegacao .menu .item a{
        font-size: calc(0.6em + 1vw);
    }
}

.logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    /* UPPERCASE  faz todas as letras 
    ficarem em caixa alta */
    color: #000;
    font-weight: 800;
}

.logo .imagem {
    width: 100px;
}

.logo .titulo{
    transition: 0.3s ease-in-out;
    margin-left: 7px;
    font-size: 17px;
}

.logo:hover .titulo{
    color: #1ED760;
}

.navegacao .menu {
    display: flex;
}

.navegacao .menu .item {
    margin: 10px;    
}

.navegacao .menu .item a {
    padding: 15px;
    transition: 0.3s ease-in-out;
}

.navegacao .menu .item a:hover {
    background-color: #1ED760;
    color: white;
}
