@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;800&display=swap');
/* reset inicio */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

html {
    scroll-behavior: smooth; 
    /* escroll suave */
}

body {
    font-family: 'Public Sans', sans-serif;
}