.rodape{    
    padding: 80px 0 20px 0;
}

.rodape .navegacao{
    max-width: 1170px;    
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;    
}

@media(max-width: 940px){
    .rodape .navegacao {
        justify-content: center;
    }

    .rodape .navegacao .logo {
        margin-bottom: 30px;
    }

    .rodape .navegacao .logo,
    .rodape .navegacao .redes-sociais    
    {
        width: 100%;
        justify-content: center;
    } 

    .rodape .navegacao .menu {
        margin: 50px 0;
        flex-direction: column;        
        align-items: center;
    }

    .rodape .navegacao .menu .item {
        margin: 20px 0;
    }
}

.rodape .redes-sociais{
    display: flex;        
}

.rodape .redes-sociais a{
    display: flex;
    justify-content: center;
    margin: 0 10px;
    border: 2px solid #111;
    padding: 15px;
    width: 65px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    font-size: 30px;
}

.rodape .redes-sociais a:hover{
    background-color: #1ED760;
}

.rodape .copyright{
    margin-top: 70px;
    text-align: center;    
}